.content {
  font-size: clamp(1rem, 5vw - 1rem, 1.25rem);
  counter-reset: footnotes;

  > :is(h2, h3, h4)[id],
  > article > :is(h2, h3, h4)[id] {
    --icon-size: 1.25rem;
    --inline-size: 1.75rem;

    a:any-link {
      color: currentColor;
    }

    .heading-icon {
      position: absolute;
      top: 50%;
      left: 0;
      opacity: 0;
      inline-size: var(--inline-size);
      transform: translateY(-59%);
      transition: all var(--transition);

      &::before {
        content: '#';
        font-size: var(--icon-size);
      }
    }

    &:hover,
    &:focus {
      .heading-icon {
        opacity: 1;
        left: calc(var(--inline-size) * -1);

        &:hover,
        &:focus {
          color: var(--clr-primary);
        }
      }
    }
  }

  ul {
    ::marker {
      color: var(--clr-primary);
    }
  }

  ol {
    counter-reset: ordered-list;
    padding-inline-start: 0;

    li {
      display: flex;
      list-style: none;
      counter-increment: ordered-list;

      &::before {
        content: counter(ordered-list) '.';
        color: var(--clr-primary);
        font-weight: var(--fw-bold);
        border-radius: 50%;
        margin-inline-end: var(--sp-s);
        width: 3ch;
        text-align: right;
      }
    }
  }

  dl {
    --spacing: 1.25em;
    --image-size: 0.7em;
    --image-url: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' data-name='Ebene 1' viewBox='0 0 24.06 35'><path d='M22.16 0H9.71L0 17.5 10.66 35h12.46L12.45 17.5 22.16 0z' style='fill:%23004fcd;stroke-width:0'/></svg>");

    padding-inline-start: var(--spacing);

    dt {
      display: flex;
      align-items: center;
      font-weight: var(--fw-bold);

      &::before {
        content: ' ';
        display: block;
        block-size: 0.8em;
        inline-size: var(--spacing);

        background-color: var(--clr-primary);
        mask: var(--image-url) 0 50% / var(--image-size) var(--image-size)
          no-repeat;
        margin-inline-start: calc(var(--spacing) * -1);
      }
    }

    dd {
      margin-block-start: 0.2em;
      margin-inline-start: 0;
      font-size: var(--fs-s);

      + dt {
        margin-block-start: 0.8em;
      }
    }
  }

  // a:any-link {
  a:not([class]) {
    font-weight: var(--fw-bold);
    color: var(--clr-primary);

    text-decoration-line: underline;
    text-decoration-color: var(--clr-primary);
    text-decoration-color: transparent;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.2em;
    transition: text-decoration-color 200ms ease-out;

    &:hover {
      text-decoration-color: var(--clr-primary);
    }
  }

  [aria-describedby='footnote-label'] {
    counter-increment: footnotes;

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }

  hr {
    margin-block: var(--sp-content);
    border-color: var(--clr-line);
  }
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--sp-content);
}
