.content {
  font-size: clamp(1rem, 5vw - 1rem, 1.25rem);
  counter-reset: footnotes;

  > :is(h2, h3, h4)[id],
  > article > :is(h2, h3, h4)[id] {
    --icon-size: 1.25rem;
    --inline-size: 1.75rem;

    a:any-link {
      color: currentColor;
    }

    .heading-icon {
      position: absolute;
      top: 50%;
      left: 0;
      opacity: 0;
      inline-size: var(--inline-size);
      transform: translateY(-59%);
      transition: all var(--transition);

      &::before {
        content: '#';
        font-size: var(--icon-size);
      }
    }

    &:hover,
    &:focus {
      .heading-icon {
        opacity: 1;
        left: calc(var(--inline-size) * -1);

        &:hover,
        &:focus {
          color: var(--clr-primary);
        }
      }
    }
  }

  ul {
    li::marker {
      color: var(--clr-primary);
    }
  }

  dl {
    padding-inline-start: var(--sp);

    dt {
      font-weight: var(--fw-bold);
    }

    dd {
      margin-block-start: 0.2em;
      margin-inline-start: 0;
      font-size: var(--fs-s);

      + dt {
        margin-block-start: 0.8em;
      }
    }
  }

  // a:any-link {
  a:not([class]) {
    font-weight: var(--fw-bold);
    color: var(--clr-primary);

    text-decoration-line: underline;
    text-decoration-color: var(--clr-primary);
    text-decoration-color: transparent;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.2em;
    transition: text-decoration-color 200ms ease-out;

    &:hover {
      text-decoration-color: var(--clr-primary);
    }
  }

  [aria-describedby='footnote-label'] {
    counter-increment: footnotes;

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }

  hr {
    margin-block: var(--sp-content);
    border-color: var(--clr-line);
  }
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--sp-content);
}
