@use '../base/mixins';

.toc {
  @include mixins.respond('l') {
    position: sticky;
    inset-block-start: calc(var(--header-height) + var(--sp-content));
    padding-inline-start: 2px;

    .button {
      display: none;
    }
  }
}

.toc-title {
  h2 {
    margin-block: 0;
    font-size: var(--fs);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
  }

  @include mixins.respond('l', 'to') {
    h2 {
      display: none;
    }
  }
}

.toc-list {
  margin-block: var(--sp) 0;
  padding-inline-start: 0;
  transition: max-height var(--transition-navi);

  > li {
    list-style: none;

    > a {
      font-weight: var(--fw-bold);
    }
  }

  a {
    display: flex;
    color: var(--clr-text);
    text-decoration: none;
    transition: color 250ms ease;

    &:hover,
    &:focus {
      color: var(--clr-primary);
    }
  }

  :is(ul ul) {
    padding-inline-start: 0;

    li {
      list-style: none;
    }
  }

  @include mixins.respond('l', 'to') {
    &.hidden-l {
      max-height: 0;
      overflow: hidden;
      margin-block: 0;
    }

    > li {
      margin-block-end: var(--sp-xs);

      + li {
        padding-block-start: var(--sp-xs);
        border-block-start: 1px solid var(--clr-line);
      }

      &:has(ul) {
        > a::after {
          content: ':';
        }
      }
    }

    :is(ul ul) {
      display: flex;
      column-gap: 1ch;
      flex-wrap: wrap;

      li:not(:last-child) {
        a::after {
          content: ',';
        }
      }
    }
  }

  @include mixins.respond('l') {
    li {
      padding-inline-start: 3px;
    }

    a {
      padding-block: 0.5em;
      padding-inline: var(--sp) var(--sp-s);

      &.highlight {
        color: var(--clr-primary);
      }
    }

    :is(ul ul) {
      --level: var(--level, 1);

      padding-inline-start: var(--sp);
    }
  }
}

.toc-progress {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  block-size: 100%;
  inline-size: 100%;
  user-select: none;
  pointer-events: none;
  color: var(--clr-primary);

  @include mixins.respond('l', 'to') {
    display: none;
  }
}

.toc-marker-start {
  fill: none;
  stroke: var(--clr-primary);
  stroke-width: 2;
  stroke-dasharray: 0;
  transition:
    stroke-dasharray 250ms ease,
    opacity 500ms ease;
  opacity: 0;
}

.toc-marker {
  transition: stroke-dasharray 250ms ease;
  stroke-width: 2;
}

.toc-marker-end {
  transition:
    stroke-dasharray 250ms ease,
    opacity 500ms ease;
  transform: translateY(-1px);
  opacity: 0;
}
