.content {
  font-size: var(--fs-content);
  counter-reset: footnotes;

  > :where(h2, h3, h4)[id],
  > article > :where(h2, h3, h4)[id] {
    --icon-size: 1.25rem;
    --inline-size: 1.75rem;

    :any-link {
      color: currentColor;
    }

    .heading-icon {
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 0;
      opacity: 0;
      inline-size: var(--inline-size);
      transform: translateY(-59%);
      transition: all var(--transition);

      &::before {
        content: '#';
        font-size: var(--icon-size);
      }
    }

    &:hover,
    &:focus {
      .heading-icon {
        opacity: 1;
        inset-inline-start: calc(var(--inline-size) * -1);

        &:hover,
        &:focus {
          color: var(--clr-primary);
        }
      }
    }
  }

  :where(ul) {
    li {
      margin-block-end: 0.5em;
    }

    ::marker {
      color: var(--clr-primary);
    }
  }

  ol {
    --padding-inline: 3em;
    --padding-inline: 4ch;

    counter-reset: ordered-list;
    padding-inline-start: var(--padding-inline);
  }

  :where(ol) {
    li {
      list-style: none;
      counter-increment: ordered-list;
      margin-block-end: 0.5em;

      &::before {
        display: inline-block;
        content: counter(ordered-list) '.';
        color: var(--clr-primary);
        font-weight: var(--fw-bold);
        float: left;
        margin-inline-start: calc(var(--padding-inline) * -1);
        inline-size: 3ch;
        text-align: right;
      }
    }
  }

  a[href^='http']:not(.button) {
    overflow-wrap: break-word;
    word-wrap: break-word;

    &::after {
      font-size: 0.8em;
      margin-inline-start: 0.1em;
      opacity: 0.5;
      transition: opacity 200ms ease-out;

      [data-theme='light'] & {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1 9-9m-5 0h5v5'/%3E%3C/svg%3E");
      }

      [data-theme='dark'] & {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1 9-9m-5 0h5v5'/%3E%3C/svg%3E");
      }
    }

    &:hover::after {
      opacity: 1;
    }
  }

  dl {
    --spacing: 1.25em;
    --image-size: 0.7em;
    --image-url: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' data-name='Ebene 1' viewBox='0 0 24.06 35'><path d='M22.16 0H9.71L0 17.5 10.66 35h12.46L12.45 17.5 22.16 0z' style='fill:%23004fcd;stroke-width:0'/></svg>");

    padding-inline-start: var(--spacing);
    margin-block: 0 var(--sp-content);

    dt {
      display: flex;
      align-items: center;
      font-weight: var(--fw-bold);

      &::before {
        content: ' ';
        display: block;
        block-size: 0.8em;
        inline-size: var(--spacing);

        background-color: var(--clr-primary);
        mask: var(--image-url) 0 50% / var(--image-size) var(--image-size)
          no-repeat;
        margin-inline-start: calc(var(--spacing) * -1);
      }

      .new {
        display: inline-block;
        background-color: var(--clr-primary);
        color: var(--clr-text-inverse);
        font-size: var(--fs-xs);
        padding-inline: 1ch;
        margin-inline-start: 1.5ch;
        font-weight: var(--fw-bold);
        border-radius: var(--radius);
      }
    }

    dd {
      margin-block-start: 0.2em;
      margin-inline-start: 0;
      font-size: 0.9em;

      + dt {
        margin-block-start: 0.8em;
      }
    }
  }

  /* a:any-link */
  a:not([class]) {
    font-weight: var(--fw-bold);
    color: var(--clr-primary);

    text-decoration-line: underline;
    text-decoration-color: var(--clr-primary);
    text-decoration-color: transparent;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.2em;
    transition: text-decoration-color 200ms ease-out;

    &:hover {
      text-decoration-color: var(--clr-primary);
    }
  }

  [aria-describedby='footnote-label'] {
    counter-increment: footnotes;

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }

  hr {
    margin-block: var(--sp-content);
    border-color: var(--clr-line);
  }
}
