<!DOCTYPE html>
<html lang="de">
  <head>
    {{- partial "meta.html" . -}}

    {{ $style := resources.Get "styles/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
  </head>

  <body id="top">
    {{- partial "header.html" . -}}


    <main class="stage" aria-role="main">
      {{ block "main" . }}
      {{ end }}
    </main>

    {{- partialCached "footer.html" . -}}


    <div id="overlay"></div>

    {{ $js := resources.Get "scripts/main.js" | js.Build }}<script src="{{ $js.RelPermalink }}" defer></script>
  </body>
</html>
