*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;

  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + var(--spacing));

  @include respond('medium') {
    scroll-padding-top: calc(var(--header-height) + var(--spacing--large));
  }
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text);
  margin: 0;
  font-size: 16px;
  line-height: var(--line-height);
  padding-top: var(--header-height);

  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

#overlay {
  @include respond('medium', 'to') {
    .with-opened-navigation & {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 25;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(3px);
      pointer-events: none;
    }
  }
}
/*
┌──────────────────────────────────┐
  TYPO
└──────────────────────────────────┘
*/

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin: 2em 0 0.8em;
}

h1 {
  font-size: 2rem;
  margin-top: 0;

  + h2 {
    margin-top: 0;
  }
}

h2 {
  font-size: 1.5rem;

  h1 + & {
    margin-top: 0;
  }
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin: 0 0 1em;
}

b,
strong {
  font-weight: 500;
}

a {
  color: var(--clr-primary);
  text-decoration: none;
  transition: text-decoration var(--transition);

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus-visible {
    @include focus();
  }
}

.lead {
  font-size: 1.2rem;
  color: var(--clr-text--light);
}

/*
┌──────────────────────────────────┐
  CONTENT
└──────────────────────────────────┘
*/

.stage {
  &--with-sections {
    max-height: calc(100vh - var(--header-height));
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  &__item {
    scroll-snap-align: start;
    min-height: calc(100vh - 3.75rem);
    padding: var(--spacing--large) 0;

    h2 {
      font-size: 1.75rem;
      margin: 0 0 0.8em;
      line-height: 1.3;
    }
  }

  &__navigation {
    display: none;
  }

  @include respond('large') {
    &__navigation {
      display: block;
      position: fixed;
      top: calc(var(--header-height) + var(--spacing--large));
      left: var(--spacing);
      width: 10rem;
      z-index: 2;
      font-size: var(--font-size--small);
      line-height: var(--line-height--small);

      h2 {
        margin: 0.5rem 0 1rem;
        font-size: 0.8125rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }

      ul {
        all: unset;
      }

      li {
        list-style: none;
        margin: 0 0 0.5em;
      }

      a {
        display: block;
        padding: 0.2em 0;
        color: var(--clr-text--light);

        &:hover,
        &:focus {
          color: var(--clr-primary);
          text-decoration: none;
        }
      }
    }
  }
}

// ┌──────────────────────────────────┐
//   IMAGES
// └──────────────────────────────────┘

@for $i from 1 through 4 {
  .bgs-#{$i} {
    background-color: var(--clr-play-#{$i});
  }
}
