:root {
  --spacing: 1.25rem;
  --spacing--large: 2rem;
  --header-height: 3.75rem;
  --navigation-width: 15rem;
  --content-max-width: 45rem;
  --border-radius: 0.5rem;

  --transition: 130ms ease-in;
  --transition--button: 130ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
  --transition--navi: 250ms cubic-bezier(1, 0, 0, 1);

  --clr-background: #eceff1;
  --clr-shade: #cfd8dc;
  --clr-text: rgb(38, 50, 56);
  --clr-text--light: rgba(38, 50, 56, 0.7);
  --clr-text--dark: #000;
  --clr-inverse: #fff;
  --clr-line: rgba(0, 0, 0, 0.2);

  --clr-primary: #ff8200;
  --clr-primary--hover: rgba(255, 130, 0, 0.2);
  --clr-button: rgba(255, 255, 255, 1);

  --clr-play-1: hsla(206, 99%, 31%, 0.1);
  --clr-play-2: hsla(123, 46%, 34%, 0.1);
  --clr-play-3: hsla(46, 100%, 50%, 0.1);
  --clr-play-4: hsla(11, 26%, 24%, 0.1);

  --nav-shadow: rgba(0, 0, 0, 0.2);
  --nav-border: rgba(0, 0, 0, 0.1);

  --font-size: 1rem;
  --font-size--small: 0.875rem;
  --line-height: 1.3;
  --line-height--small: 1.2;

  --font-weight: 300;
  --font-weight--bold: 500;
  --font-weight--heading: 400;

  --footer-line: rgba(0, 0, 0, 0.1);
  --footer-bg: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 1px,
    rgba(255, 255, 255, 0.2) 2px,
    rgba(255, 255, 255, 0)
  );

  --image-padding: 1rem;
  --image-bg: #fff;
  --image-shadow: 0 0.25rem 0.75rem -0.5rem rgb(10 52 120 / 30%);

  @media (min-width: 600px) {
    --spacing: 2.5rem;
    --spacing--large: 4rem;
  }

  &[data-theme='dark'] {
    --clr-background: #14232d;
    --clr-text: #d9d9d9;
    --clr-text--light: rgba(217, 217, 217, 0.7);
    --clr-text--dark: #fff;
    --clr-line: rgba(255, 255, 255, 0.2);

    --clr-play-1: hsla(206, 99%, 69%, 0.1);
    --clr-play-2: hsla(123, 46%, 66%, 0.1);
    --clr-play-3: hsla(46, 100%, 50%, 0.1);
    --clr-play-4: hsla(11, 26%, 76%, 0.1);

    --nav-border: rgba(255, 255, 255, 0.1);

    --footer-line: rgba(0, 0, 0, 0);
    --footer-bg: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 1px,
      rgba(0, 0, 0, 0.1) 2px,
      rgba(0, 0, 0, 0)
    );
  }
}
