// ┌──────────────────────────────────┐
//   FOOTER
// └──────────────────────────────────┘

.footer {
  position: relative;
  z-index: 5;
  padding: var(--spacing);
  font-size: 0.8rem;
  border-top: 1px solid var(--footer-line);
  color: var(--clr-text--light);
  background: var(--footer-bg);

  nav {
    margin-top: 0.5em;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
  }

  @include respond('small') {
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      margin-top: 0;
      justify-content: end;
    }
  }
}
