// ┌──────────────────────────────────┐
//   HEADER
// └──────────────────────────────────┘

.header {
  &__bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 20;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: var(--clr-background);
    border-bottom: 1px solid var(--nav-border);
    box-shadow: 1.5rem 0 4rem -0.5rem var(--nav-shadow);
  }

  &__logo {
    display: flex;
    align-items: center;
    margin: 0 auto;

    svg {
      display: block;
      height: 1.25rem;
      width: auto;

      .hawk {
        fill: #15232d;
        fill-rule: evenodd;
      }
      .gt1191 {
        fill: #ff8200;
      }
    }
  }

  &__button {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    width: var(--header-height);
    height: var(--header-height);
    cursor: pointer;
    transition: background-color var(--transition);

    svg {
      transition: fill var(--transition);
    }

    &--hide {
      display: none;
    }

    &.themebutton {
      margin-left: auto;
    }

    [data-theme='dark'] & .themebutton__icon--light,
    [data-theme='light'] & .themebutton__icon--dark {
      display: none;
    }

    .with-nav & {
      &--show {
        display: none;
      }

      &--hide {
        display: flex;
      }
    }

    &:hover,
    &:focus-visible {
      background-color: var(--clr-primary--hover);
      text-decoration: none;

      &::before {
        opacity: 1;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }

    &:focus-visible {
      @include focus();
    }
  }

  @include respond('large', 'to') {
    &__bar {
      position: fixed;
      top: 0;
      left: 0;
      height: var(--header-height);
      width: 100%;
      z-index: 20;

      background-color: var(--clr-background);
      border-bottom: 1px solid var(--nav-border);
      box-shadow: 1.5rem 0 4rem -0.5rem var(--nav-shadow);

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @include respond('large') {
    &__button {
      &--show,
      &--hide {
        display: none !important;
      }
    }
  }
}
