// ┌──────────────────────────────────┐
//   HEADER
// └──────────────────────────────────┘

.header {
  $this: &;

  &__bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 20;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: var(--clr-background);
    border-bottom: 1px solid var(--nav-border);
    box-shadow: 1.5rem 0 4rem -0.5rem var(--nav-shadow);
    transition: all var(--transition--theme);
  }

  &__logo {
    display: flex;
    align-items: center;
    margin: 0 auto;

    svg {
      display: block;
      height: 1.25rem;
      width: auto;

      .hawk {
        fill: #15232d;
        fill-rule: evenodd;
      }

      .gt1191 {
        fill: #ff8200;
      }
    }
  }

  &__button {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    width: var(--header-height);
    height: var(--header-height);
    cursor: pointer;
    transition: background-color var(--transition);

    svg {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--clr-text);
      transition: fill var(--transition);
    }

    &--hide {
      display: none;
    }

    .with-nav & {
      &--show {
        display: none;
      }

      &--hide {
        display: flex;
      }
    }

    &:hover,
    &:focus-visible {
      background-color: var(--clr-primary--hover);
      text-decoration: none;

      &::before {
        opacity: 1;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }

    &:focus-visible {
      @include focus();
    }
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }

  .offline &__bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include respond('large', 'to') {
    &__links .external {
      display: none;
    }
  }

  @include respond('large') {
    &__button {
      &--show,
      &--hide {
        display: none !important;
      }
    }

    &::after {
      display: block;
      position: fixed;
      top: var(--header-height);
      left: 0;
      width: 100%;
      height: var(--spacing--large);
      content: '';
      z-index: 19;
      pointer-events: none;
      background-image: linear-gradient(
        180deg,
        var(--clr-background),
        transparent
      );
    }
  }
}
