// ┌──────────────────────────────────┐
//   HEADER
// └──────────────────────────────────┘

.navbutton {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  width: var(--header-height);
  height: var(--header-height);
  transition: background-color var(--transition);

  svg {
    transition: fill var(--transition);
  }

  &:hover,
  &:focus {
    background-color: var(--clr-primary--hover);

    svg {
      fill: var(--clr-primary);
    }
  }

  @include respond('medium') {
    display: none;
  }
}

.header {
  &__bar {
    padding: 0 0 0 var(--spacing);
    transition: padding var(--transition);
  }

  &__logo {
    display: block;

    svg {
      display: block;
      height: 1.25rem;
      width: auto;

      .hawk {
        fill: #15232d;
        fill-rule: evenodd;
      }
      .gt1191 {
        fill: #ff8200;
      }
    }
  }

  @include respond('medium', 'to') {
    &__bar {
      position: fixed;
      top: 0;
      left: 0;
      height: var(--header-height);
      width: 100%;
      z-index: 20;

      background-color: var(--clr-background);
      border-bottom: 1px solid var(--nav-border);
      box-shadow: 1.5rem 0 4rem -0.5rem var(--nav-shadow);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @include respond('medium') {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    z-index: 20;

    background-color: var(--clr-background);
    border-bottom: 1px solid var(--nav-border);
    box-shadow: 1.5rem 0 4rem -0.5rem var(--nav-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
