[data-hint] {
  position: relative;
  z-index: 500;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, 100%);
    transition: opacity 0.2s, transform 0.2s;

    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    &::before,
    &::after {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  &::before {
    margin: 0 0 10px;
    padding: 0.4em 0.7em 0.4em;
    border-radius: 3px;
    background: var(--clr-text);
    color: var(--clr-inverse);
    content: attr(data-hint);

    font-size: var(--font-size--xsmall);
    line-height: 1;
    white-space: nowrap;
    text-align: center;
  }

  &::after {
    width: 0;
    border: 5px solid transparent;
    border-top-color: var(--clr-text);
    content: '';
    font-size: 0;
    line-height: 0;
  }
}
