/*
┌──────────────────────────────────┐
  NAVIGATION
└──────────────────────────────────┘
*/

.navigation {
  &__list {
    margin: 0;
    padding: var(--spacing);

    li {
      list-style: none;
    }

    a {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      background: none;
      color: var(--clr-text);
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: transparent;
        color: var(--clr-primary);
      }

      &.is-active {
        font-weight: var(--font-weight--bold);
        color: var(--clr-primary);
      }
    }
  }

  .with-nav & {
    max-height: 10000px;
  }

  @include respond('large', 'to') {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    z-index: 20;

    background-color: var(--clr-header);
    backdrop-filter: blur(5px);
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--transition--navi);

    &__list {
      font-size: var(--font-size--large);
    }
  }

  @include respond('large') {
    &__list {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0 0 0 var(--spacing--small);

      a {
        height: var(--header-height);
        padding: 0 1em;

        &::after {
          display: inline-block;
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0;
          height: 2px;
          z-index: 2;
          transform: translateX(-50%);
          background-color: var(--clr-primary);
          transition: width 120ms ease-in-out;
        }

        &:hover,
        &:focus {
          &::after {
            width: calc(100% - 2rem);
          }
        }
      }
    }
  }
}
