// ┌──────────────────────────────────┐
//   SOCIAL LINKS
// └──────────────────────────────────┘

.social-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0 1rem;
  border-radius: var(--border-radius);
  background-color: var(--clr-background);

  li {
    list-style: none;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;

    &:hover,
    &:focus {
      svg {
        fill: var(--clr-primary);
        transform: scale(1.2);
      }
    }
  }

  svg {
    display: block;
    width: 1.5rem;
    transition: transform var(--transition);
    transform: scale(1);
  }

  [data-mode='dark'] & {
    svg {
      fill: var(--clr-inverse);
    }
  }
}
