---

---

<footer class='footer'>
  <div>
    © David Maciejewski für HAWK GT 1191<br />
    <nav>
      <a href='/impressum'> Impressum</a>
      <a href='/datenschutz'> Datenschutz</a>
    </nav>
  </div>

  <div class='report'>
    <b>Fehler gefunden?</b><br />
    Diese Website ist Open Source. Bitte <a
      href='https://github.com/macx/hawk-gt1191/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc'
      rel='noopener noreferrer'>berichte</a
    > uns darüber.
  </div>
</footer>

<style lang='scss'>
  @use '../styles/base/mixins';

  .footer {
    position: relative;
    z-index: 5;
    padding: var(--sp) var(--sp-content);
    font-size: var(--fs-xs);
    line-height: var(--lh-s);
    border-top: 1px solid var(--clr-line);
    color: var(--clr-text-medium);
    background: var(--footer-bg);

    nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1em;
      margin-block-start: 0.2em;
    }

    .report {
      margin-block-start: 1em;
    }

    :any-link {
      color: var(--clr-primary);
      text-decoration: none;
      font-weight: var(--fw-bold);

      &:hover,
      &:focus {
        color: var(--clr-primary);
        text-decoration: underline;
      }
    }

    @include mixins.respond('m') {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .report {
        margin-block-start: 0;
        text-align: end;
      }
    }
  }
</style>
