---
import { Icon } from 'astro-icon/components'

interface Props {
  date: Date
  readingTime: number
  wordCount?: number
}

const { date, readingTime, wordCount } = Astro.props as Props
---

<div class='date-time'>
  <time datetime={date.toISOString()}>
    {
      date.toLocaleDateString('de-DE', {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      })
    }
  </time>

  {
    readingTime && (
      <div class='reading-time' title='Lesezeit'>
        <Icon name='material-symbols:schedule-outline' />
        <b>{readingTime} Min.</b>
        {wordCount && <>({wordCount} Wörter)</>}
      </div>
    )
  }

  <style lang='scss'>
    .date-time {
      display: flex;
      align-items: center;
      gap: var(--sp);
      font-size: var(--fs-s);

      time {
        display: block;
      }

      @container article-card (width < 25em) {
        justify-content: space-between;
      }
    }

    .reading-time {
      display: inline-flex;
      align-items: center;
      gap: 1ch;

      svg {
        font-size: 1.125rem;
        color: var(--clr-text-light);
      }
    }
  </style>
</div>
