---
type ItemType = 'article' | 'game' | 'tool'

export interface Props {
  type?: ItemType
}

const { type } = Astro.props as Props
---

<span
  item-type={(() => {
    switch (type) {
      case 'article':
        return 'article'
      case 'game':
        return 'game'
      case 'tool':
        return 'tool'
    }
  })()}
>
  {
    (() => {
      switch (type) {
        case 'article':
          return 'ARTIKEL'
        case 'game':
          return 'GAME'
        case 'tool':
          return 'TOOL'
      }
    })()
  }
</span>

<style>
  [item-type] {
    display: inline-block;
    background-color: var(--clr-text);
    color: var(--clr-type-text);
    font-size: var(--fs-xs);
    font-weight: var(--fw-bold);
    line-height: 1;

    padding-block: 0.2em;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
    border-radius: 0.3em;
  }

  [item-type='article'] {
    background-color: var(--clr-type-article);
  }

  [item-type='game'] {
    background-color: var(--clr-type-game);
  }

  [item-type='tool'] {
    background-color: var(--clr-type-tool);
  }
</style>
