---
interface Props {
  text: string
  wrap?: 'pretty' | 'balance'
}

const { text, wrap } = Astro.props
---

<div class:list={['lead', wrap === 'pretty' ? 'pretty' : null]}>
  {text}
</div>

<style>
  .lead {
    font-size: 1.25em;
    line-height: var(--lh);
    color: var(--clr-text-light);
    margin-block-end: var(--sp-m);
    text-wrap: balance;
    max-inline-size: var(--title-max-size);

    p {
      margin-block: 0;
    }

    &.pretty {
      text-wrap: pretty;
    }
  }

  :global(.content:has(.meta)) .lead {
    margin-block-end: var(--sp);
  }
</style>
