---

---

<div class='lead'>
  <slot />
</div>

<style lang='scss'>
  .lead {
    font-size: 1.25em;
    line-height: var(--lh);
    color: var(--clr-text-light);
    margin-block-end: var(--sp-m);
    text-wrap: balance;

    p {
      margin-block: 0;
    }
  }
</style>
