<header class="header">
  <div class="header__bar">
    <div>
      <button
        type="button"
        class="header__button header__button--show js-toggle-nav"
        aria-label="Navigation öffnen"
      >
        {{ readFile "static/images/icons/menu.svg" | safeHTML }}
      </button>

      <button
        type="button"
        class="header__button header__button--hide js-toggle-nav"
        aria-label="Navigation schließen"
      >
        {{ readFile "static/images/icons/close.svg" | safeHTML }}
      </button>

      {{- partial "navigation.html" . -}}
    </div>

    <a href="/" class="header__logo" aria-label="HAWK GT1191">
      {{ readFile "static/images/hawk-gt1191.svg" | safeHTML }}
    </a>

    <div>
      <button
        type="button"
        class="header__button themebutton"
        aria-label="Erscheinungsbild hell und dunkel umschalten"
        aria-pressed="false"
      >
        {{ readFile "static/images/icons/theme-light.svg" | safeHTML }}
        {{ readFile "static/images/icons/theme-dark.svg" | safeHTML }}
      </button>
    </div>
  </div>
</header>
