<nav class="navigation">
  <ul class="navigation__list">
    {{ $currentPage := . }}
    {{ range .Site.Menus.nav }}
      <li>
        {{ $active := or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) }}
        {{ $active = or $active (eq .Name $currentPage.Title) }}
        {{ $active = or $active (eq $currentPage.RelPermalink .URL) }}
        <!-- prettier-ignore -->
        <a href="{{ .URL }}" class="{{ with .Params.class }}{{ . }}{{ end }}{{ if $active }} is-active{{ end }}">
        {{- .Name -}}
      </a>
      </li>
    {{ end }}
  </ul>

  <ul class="navigation__footer">
    <li>
      <a
        href="{{ .Site.Params.links.discordInvite }}"
        target="contact"
        rel="noopener noreferrer"
        class="header__button"
      >
        {{ readFile "static/images/icons/discord.svg" | safeHTML }}
      </a>
    </li>
    <li>
      <a
        href="{{ .Site.Params.links.studip }}"
        target="contact"
        rel="noopener noreferrer"
        class="header__button"
      >
        {{ readFile "static/images/icons/studip.svg" | safeHTML }}
      </a>
    </li>
    <li>
      <a href="#top" class="header__button js-toggle-nav">
        {{ readFile "static/images/icons/arrow-top.svg" | safeHTML }}
      </a>
    </li>
  </ul>
</nav>
