<!DOCTYPE html>
<html lang="de">
  {{- partial "head.html" . -}}
  <body id="top">
    {{- partial "header.html" . -}}


    <main class="stage stage--with-sections" aria-role="main">
      <nav class="stage__navigation">
        <h2>Das Seminar</h2>

        <ul>
          {{ range where .Site.Pages "Type" "home" }}
            {{ if isset .Params "title" }}
              <li>
                <a href="/#{{ .Params.id }}">
                  {{ .Title }}
                </a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </nav>

      {{ range where .Site.Pages "Type" "home" }}
        {{ if isset .Params "title" }}
          <section
            id="{{ .Params.id }}"
            class="stage__item {{ .Params.class }}"
          >
            <div class="content">
              {{ .Content }}
            </div>
          </section>
        {{ end }}
      {{ end }}
    </main>

    {{- partialCached "footer.html" . -}}

    {{ $js := resources.Get "scripts/main.js" |
      js.Build (dict "params" (dict "api" "https://example.org/api"))
    }}    <script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
  </body>
</html>
