.text-and-button {
  display: flex;
  flex-direction: column;
  gap: var(--sp);

  @media screen and (width >= 57.5em) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--sp-l);

    & > div:last-child {
      flex: 1 0 auto;
      text-align: right;
    }
  }
}
