@use './mixins';

sup {
  line-height: 1;
  line-height: 1;
  margin-inline-start: 0.1em;

  a {
    font-size: 0.8125rem;
    color: var(--clr-primary);
  }
}

::selection {
  background-color: var(--clr-selection);
}

/*
┌──────────────────────────────────┐
  CODE
└──────────────────────────────────┘
*/

code {
  display: inline-block;
  font-family: 'JetBrains Mono Variable', monospace;
  font-size: 1em;
  font-variation-settings:
    'wght' 700,
    'slnt' 0;
}

.astro-code {
  position: relative;
  display: block;
  padding: var(--sp-s) var(--sp);
  border-radius: var(--border-radius);
  overflow: hidden;

  code {
    display: block;
    font-size: 1rem;
    font-variation-settings:
      'wght' 300,
      'slnt' 0;
  }

  .copy-code-btn {
    --button-size: 1.875rem;
    --icon-size: 1rem;

    all: unset;

    display: grid;
    place-items: center;

    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
    z-index: 2;

    block-size: var(--button-size);
    inline-size: var(--button-size);

    background-color: var(--clr-primary);
    color: var(--clr-inverse);
    border-radius: var(--border-radius) 0 0 0;
    transition: var(--transition);

    cursor: pointer;

    svg {
      display: block;
      fill: currentColor;
      block-size: var(--icon-size);
    }

    &:hover {
      background-color: var(--clr-inverse);
      color: var(--clr-primary);
    }
  }

  figure & {
    margin-block: 0;
  }
}

/*
┌──────────────────────────────────┐
  BLOCKQUOTES
└──────────────────────────────────┘
*/

blockquote {
  position: relative;
  font-size: var(--fs-s);
  margin-block: var(--sp);
  margin-inline: 0;
  padding-block: var(--sp);
  padding-inline: var(--sp-s);
  // border-block-end: 1px solid var(--clr-line);
  margin-trim: block;
  background-color: var(--clr-primary-light);

  @supports not (margin-trim: block) {
    p:last-child {
      margin-block-end: 0;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -1rem;
    left: 50%;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    background-color: var(--clr-inverse);
    border-radius: 50%;
    box-shadow: var(--image-shadow);
    border-bottom: 1px solid var(--clr-line);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath fill='%23ff8200' d='M19 2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h4l3 3 3-3h4c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 16h-4.83l-.59.59L12 20.17l-1.59-1.59-.58-.58H5V4h14v14zm-8-3h2v2h-2zm1-8c1.1 0 2 .9 2 2 0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4S8 6.79 8 9h2c0-1.1.9-2 2-2z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.25rem;
  }
}

.image-with-text {
  --image-size: min(150px, 40vw);
  // --image-size: 180px;

  border-block-start: 1px solid var(--clr-line);
  border-block-end: 1px solid var(--clr-line);
  margin-block-end: var(--sp-content);
  padding-block: var(--sp);
  contain: layout;
  font-size: var(--fs-s);

  p:last-child {
    margin-block-end: 0;
  }

  img {
    display: block;
    float: left;

    block-size: var(--image-size);
    inline-size: var(--image-size);

    margin-block: 0 var(--sp);
    margin-inline: 0 var(--sp);

    order: 1;

    clip-path: circle();
    shape-outside: circle();

    box-shadow: var(--image-shadow);
  }

  @include mixins.respond('m') {
    img {
      margin-inline: calc(var(--sp) * -1) var(--sp);
    }
  }
}
