:root {
  --sp: 1.25rem;
  --sp-xs: 0.625rem;
  --sp-s: 1rem;
  --sp-m: 1.625em;
  --sp-l: 2rem;
  --sp-xl: 10rem;
  --sp-content: var(--sp);

  --header-height: 3.75rem;
  --navigation-width: 15rem;
  --toc-width: 14rem;
  --content-max-width: 62ch;
  --layout-max-width: 70rem;
  --border-radius: 0.25rem;

  --transition: 130ms ease-in;
  --transition-button: 130ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
  --transition-navi: 250ms cubic-bezier(1, 0, 0, 1);
  --transition-theme: 100ms ease-out;

  --clr-bg: #eceff1;
  --clr-bg-card: rgba(255 255 255 / 1);
  --clr-bg-nav: var(--clr-bg-card);
  --clr-shade: #cfd8dc;
  --clr-text: rgb(38, 50, 56);
  --clr-text-light: rgba(38, 50, 56, 0.7);
  --clr-text--dark: #000;
  --clr-text--code: #1976d2;
  --clr-inverse: hsl(0, 0%, 100%);
  --clr-section: hsl(0 0% 100% / 0.5);
  --clr-line: rgba(0, 0, 0, 0.2);
  --clr-header: rgba(6, 13, 18, 0.8);
  --clr-marker: hsl(60 100% 70% / 1);

  --clr-type-text: #fff;
  --clr-type-article: #334155;
  --clr-type-game: #166534;
  --clr-type-tool: #991b1b;

  --clr-primary: #004fcd;
  --clr-primary-hover: rgb(255 130 0 / 0.2);
  --clr-primary-light: hsl(217 100% 40% / 0.7);
  --clr-selection: rgb(0 79 205 / 0.15);
  --clr-button: rgba(255, 255, 255, 1);

  --nav-shadow: rgba(109, 62, 62, 0.2);
  --nav-border: rgba(0, 0, 0, 0.1);

  --icon-size: 1.5rem;
  --icon-size-header: 1.25rem;

  // Font Families
  --ff: 'Open Sans Variable', sans-serif;
  --ff-headings: 'Domine Variable', sans-serif;

  // Font Weights
  --fw: 300;
  --fw-bold: 500;
  --fw-headings: 700;

  // Font Variation Settings
  --fvs: 'wght': var(--fw), 'ital': 0;
  --fvs-bold: 'wght': var(--fw-bold), 'ital': 0;
  --fvs-headings: 'wght': var(--fw-headings), 'ital': 0;

  // Font Sizes
  --fs: 1rem;
  --fs-s: 0.9375rem;
  --fs-xs: 0.75rem;
  --fs-l: 1.25rem;

  // Line Heights
  --lh: 1.4;
  --lh-s: 1.3;

  --footer-bg: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 1px,
    rgba(255, 255, 255, 0.2) 2px,
    rgba(255, 255, 255, 0)
  );

  --image-padding: 1rem;
  --image-bg: #fff;
  --image-shadow: 0 0.25rem 0.75rem -0.5rem rgb(10 52 120 / 30%);

  @media (min-width: 600px) {
    --sp-content: 2.5rem;
    --sp-l: 4rem;
  }

  &[data-theme='dark'] {
    --clr-bg: #0d1117;
    --clr-bg-card: #161b22;
    --clr-text: #d9d9d9;
    --clr-text-light: rgba(217, 217, 217, 0.7);
    --clr-text--dark: #fff;
    --clr-line: #30363d;
    --clr-header: rgba(20, 35, 45, 0.8);
    --clr-inverse: rgb(255 255 255 / 1);

    --clr-primary: #2f81f7;
    --clr-marker: hsl(60 100% 70% / 0.2);
    --nav-border: rgb(255 255 255 / 0.15);

    --footer-line: rgb(255 255 255 / 0.3);
    --footer-bg: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 1px,
      rgba(0, 0, 0, 0.1) 2px,
      rgba(0, 0, 0, 0)
    );

    --image-bg: #292524;
  }
}
