*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;

  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + var(--sp));

  @media screen and (width >= 37.5em) {
    scroll-padding-top: calc(var(--header-height) + var(--sp-l));
  }
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  margin: 0;
  padding-top: var(--header-height);

  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: var(--fw);
  font-variation-settings: var(--fvs);
  line-height: var(--lh);
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  transition:
    background-color var(--transition-theme),
    color var(--transition-theme);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button,
select {
  font: inherit;
}

p {
  margin-block: 0 1em;
}

b,
strong {
  font-weight: var(--fw-bold);
}

main {
  max-width: var(--layout-max-width);
  padding-block: var(--sp-l);
  margin-inline: auto;
  padding-inline: var(--sp-content);
  transition: padding-inline var(--transition);

  &:has(.content.wide),
  &:has(.content.medium) {
    max-width: unset;
  }

  width: 100%;
  flex: 1;

  .stage {
    display: flex;
    flex-direction: column;
    gap: calc(var(--sp-content) + var(--sp));

    &.with-articles {
      .content {
        margin-inline: auto;
        order: 1;
      }

      .articles {
        order: 2;
      }
    }
  }

  .content {
    width: 100%;
    max-width: var(--content-max-width);

    &.medium {
      max-width: var(--layout-max-width-medium);
    }

    &.wide {
      max-width: var(--layout-max-width-large);
    }
  }

  aside {
    container: aside / inline-size;
  }

  &:not(:has(aside)) {
    .content {
      margin-inline: auto;
    }
  }

  @media screen and (width < 57.5em) {
    &:has(.toc-list.hidden-l) {
      gap: var(--sp);
    }

    .content {
      order: 1;
    }

    aside {
      order: 0;
    }
  }

  @media screen and (width >= 57.5em) {
    .stage {
      flex-direction: row;
      justify-content: space-between;
    }

    aside {
      flex: 1 0 15rem;
    }
  }
}

.l-articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--sp-content);

  @media screen and (width >= 57.5em) {
    .with-articles & {
      display: flex;
      flex-direction: column;
      gap: var(--sp);
    }
  }
}

.text-and-button {
  display: flex;
  flex-direction: column;
  gap: var(--sp);
}

@media screen and (width >= 57.5em) {
  .text-and-button {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--sp-l);
  }

  .text-and-button > div:last-child {
    flex: 1 0 auto;
    text-align: right;
  }
}
